In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
pd.set_option('display.max_columns', None)

#reading file
patch = pd.read_csv('raw_data.csv',usecols=["buyer_name","purchase_date"],encoding = "ISO-8859-1", parse_dates=['purchase_date'])
%matplotlib inline

In [11]:
patch

      purchase_date          buyer_name
0        2017-12-31        Carl A Dulay
1        2017-12-31        eunice s lim
2        2017-12-31          Jihye Shin
3        2017-12-31      Jennifer S Yoo
4        2017-12-31       Amy Christman
5        2017-12-31         Melissa Day
6        2017-12-31        Lauren Regan
7        2017-12-31           Igor krol
8        2017-12-31       Andrew Cilley
9        2017-12-31    Bennett Morrison
10       2017-12-31          Ellen Park
11       2017-12-31           tina rose
12       2017-12-31         Yara Mekawi
13       2017-12-31          Dong H Kim
14       2017-12-31      Cory Boulieris
15       2017-12-31          Dustin Suh
16       2017-12-31     Chia Hsun Chang
17       2017-12-31           Donna Kim
18       2017-12-31         Allen Y Liu
19       2017-12-31         Shea Alario
20       2017-12-31           Christina
21       2017-12-31      Casey Splinter
22       2017-12-30              Alysen
23       2017-12-30          Katy Sharp
24       2017-12-30        Belinda Chan
25       2017-12-30          Nicole Lee
26       2017-12-30              leslie
27       2017-12-30               MET27
28       2017-12-30        Alan Ceshker
29       2017-12-30      Alaina Lathrop
...             ...                 ...
11149    2018-03-09     Harry G. Butler
11150    2018-03-10   Jake Eichenberger
11151    2018-03-09                kris
11152    2018-03-09         Tanja Dresp
11153    2018-03-09    Lauren J Reusche
11154    2018-03-09  Carolyn McLaughlin
11155    2018-03-09           Wendy Cox
11156    2018-03-09              Kelsey
11157    2018-03-09              jackie
11158    2018-03-08        Laura Harvey
11159    2018-03-08       Elaina DeWulf
11160    2018-03-07     Susan Hellrigel
11161    2018-03-08             Carolyn
11162    2018-03-07       Maria Garrity
11163    2018-03-08       Susan E. Ruby
11164    2018-03-09         Pasha Moore
11165    2018-03-09         Chloe Canon
11166    2018-03-07              Kaylee
11167    2018-03-07      Jatan N Pathak
11168    2018-03-08       JEFF MATELICH
11169    2018-03-08     Rebecca Inboden
11170    2018-03-09        Victoria Hui
11171    2018-03-07              Swathi
11172    2018-03-07       Jody L. Olson
11173    2018-03-06        Gregg Segall
11174    2018-03-07          Jake Boxer
11175    2018-03-07      Benjamin Sloss
11176    2018-03-07           Ceciliali
11177    2018-03-08    Scott a sturgeon
11178    2018-03-06           Royce Gee

[11179 rows x 2 columns]

In [3]:
patch.purchase_date.dt.month

0        12
1        12
2        12
3        12
4        12
5        12
6        12
7        12
8        12
9        12
10       12
11       12
12       12
13       12
14       12
15       12
16       12
17       12
18       12
19       12
20       12
21       12
22       12
23       12
24       12
25       12
26       12
27       12
28       12
29       12
         ..
11149     3
11150     3
11151     3
11152     3
11153     3
11154     3
11155     3
11156     3
11157     3
11158     3
11159     3
11160     3
11161     3
11162     3
11163     3
11164     3
11165     3
11166     3
11167     3
11168     3
11169     3
11170     3
11171     3
11172     3
11173     3
11174     3
11175     3
11176     3
11177     3
11178     3
Name: purchase_date, Length: 11179, dtype: int64

In [4]:
patch['month']=patch['purchase_date'].dt.to_period('M')
month=patch.groupby(['month'])
month.count()

         shipment_id  purchase_date  buyer_name
month
2017-09          169            169         169
2017-10          602            602         602
2017-11         1435           1435        1435
2017-12         2184           2184        2184
2018-01         4343           4343        4343
2018-02         2201           2201        2201
2018-03          245            245         245

In [5]:
#Repeat customers
buyer=patch.groupby(['buyer_name'])
repeat=buyer.count()

In [6]:
a=repeat[repeat['purchase_date']>1]
a

                        shipment_id  purchase_date  month
buyer_name
--                                4              4      4
A                                 2              2      2
A. Bird                           2              2      2
AC                                2              2      2
AMY PARRY                         3              3      3
ANNIE CHIU                        2              2      2
AVERYL PINTO                      3              3      3
Aaron                             2              2      2
Aaron Brennan                     3              3      3
Aaron Garcia                      3              3      3
Abby Friell                       2              2      2
Abriah Isaac                      2              2      2
Ada-Helen B. Volentine            2              2      2
Adam Sokoloff                     2              2      2
Adam Stevens                      2              2      2
Adria                             2              2      2
Adrian                            2              2      2
Adrienne West                     2              2      2
Agnes Yerian                      3              3      3
Aidar                             2              2      2
Aimee Boyett                      3              3      3
Aishwarya                         3              3      3
Akina Nana                        2              2      2
Alana Scott                       3              3      3
Alanna                            2              2      2
Alanna Shea                       2              2      2
Alapuakai Carroll                 2              2      2
Albert                            2              2      2
Alex                             10             10     10
Alex Friedl                       7              7      7
...                             ...            ...    ...
sara                              2              2      2
sara pesserillo                   2              2      2
sarah                             9              9      9
sarah craig                       2              2      2
saryu                             3              3      3
scott zegar                       2              2      2
sean sandbach                     2              2      2
shaena cooper                     2              2      2
shane                             2              2      2
shannon                           3              3      3
shannon josey                     2              2      2
shannon roy                       3              3      3
sheila gillig                     2              2      2
sherie herrera                    3              3      3
sofia zlatin                      2              2      2
stefini pilgrim                   2              2      2
stephanie rice                    6              6      6
stephen baker                     6              6      6
susan                             2              2      2
susan hritz                       5              5      5
taylor                            2              2      2
tyree wwhiteley                   2              2      2
val daloisio                      2              2      2
valerie delaney                   2              2      2
victoria truitt                   2              2      2
vivian linder                     2              2      2
wendy                             2              2      2
yana bannikova                    2              2      2
zhijin hu                         2              2      2
zoe                               4              4      4

[1440 rows x 3 columns]

In [7]:
a.mean()

shipment_id      2.811111
purchase_date    2.811111
month            2.811111
dtype: float64

## Background:

The newest product that young adults are raving about is the hydrocolloid acne patches. These are simple patches that contain hydrocolloid, a gel like compound that absorbs liquid. When the product is placed on a blemish or pimple for 6 hours, it absorbs the pus without leaving a scar. Due to its natural, safe, and easy solution to acne, it’s a popular item that people of all ages have been purchases. 
Hero Cosmetics launched in September, and their first product was a 36 count box of acne patches at the cost of $12.99 on Amazon. After a couple of months, they saw that some of their customers returned to purchase another box. Based on the number of repeat customers, they wondered if a second SKU should be created. This SKU would be the same product but with a greater number of patches in the box.

## Problem: 
Will the launch of a new product (72 count acne patches) slow down the overall profits? The founders of Hero Cosmetics are afraid that if people purchase the 72 count, customers won’t purchase the patches as frequently as they do now. Hypothetically, if people purchase the 72 count, customers will take twice as long to finish a box. However, the founders also believe that if people have more patches for a cheaper unit price, then they will use the patches more willingly, without the fear of running out.

## Potential Solution:
To get an insight to what may happen, an A/B experiment can be run. Two groups will be selected. These groups will be picked from the list of customers who have repeatedly purchased the product. One group will receive regular marketing emails about the 36 count. The second group will first receive a new product launch email and then regular marketing emails. But rather than marketing the 36 count, it will market both the 36 and 72 count boxes.

## Before Rollout: 
Before starting the experiment, copies of the emails should be created. The emails should be as similar as possible to minimize distractions that might alter a consumer’s decision. The only method of marketing will be via email. 
The product design and box design will be exactly the same for products. A difference in product design or packaging design can change a user’s decision to purchase the 36 count over the 72 count (and vise versa). 
Each group should have 50 people and will be randomly selected into each group. A random generator will place people into either Group A or Group B. The 50 people who are picked will be picked from a list of people who have purchased the product more than once. In addition, the demographic will be of all ages and residents of cities all across the US. Over the next six month, both groups will receive between 6 to 12 emails.

## Success Metric:
The success metric will based on the profits, which will be measure using t-tests and finding the p-values. 

## Secondary Success Metric:
A secondary metric will how soon after the email is sent will people purchase the product versus how long ago was their last purchase. Does a better deal draw people in to purchase an item?

## Rollout Plan:
At the start of the experiment, both groups will receive a marketing email sent out the same day and time. Group A will get the standard email suggesting they purchase another box of acne patches. Group B will get a new product launch email. After two weeks, customers who have not purchased either products will receive a second email. Group A will a well designed marketing email listing the benefits of the hydrocolloid acne patches. And it will market the 36 count. Group B will receive the same email but it will provide an option of the 36 count or the 72 count. At the beginning of the next month, both groups will receive an email with positive customer reviews. Group A, of course, will get an email only advertising the 36 count. And Group B will get have the option of picking the 36 count or 72 count. For the next couple of months, similar emails will be sent out. Customers who purchase a product will receive a Thank You email.

## Hypothesis:
Customers who purchase the 72 count will be less inclined to purchase the acne patches as frequently, and as a result, profits will decrease.

## How to measure success:
At the end of the six months, we will look at the frequency in which customers purchased the 36 count versus the 72 count and calculate the profits. The primary measure of success will be test by looking at the t-test and p-values. If the p-value is < 0.05, then it will be an indicator that the null hypothesis was correct. 

The secondary metric will be measured by time. How long after the first email will customers purchase the product? Customers who purchase it within the first 48 hours are customers who purchased the product based on reminders. And customers who purchase product are customers who either need the product or have run out.